@{
    ViewData["Title"] = "Careers";
}

<div class="container">
    <section id="Careers" class="CompanyProfile">
    <div class="container">
        <div class="section-title">
            <span>Careers</span>
            <h2>Careers</h2>
        </div>
    </div>
    </section>
</div>