@{
    ViewData["Title"] = "CompanyProfile";
}

<div class="container">
    <section id="CompanyProfile" class="CompanyProfile">
    <div class="container">
        <div class="section-title">
            <span>Company Profile</span>
            <h2>Company Profile</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
    </div>
    </section>
</div>