@{
    ViewData["Title"] = "KeyPersonnal";
}

<div class="container">
    <section id="KeyPersonnal" class="KeyPersonnal">
    <div class="container">
        <div class="section-title">
            <span>Key Personnal</span>
            <h2>Key Personnal</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
    </div>
    </section>
</div>