@{
    ViewData["Title"] = "Error 500";
}

<div class="erorBody">
        <div class="errorHeader">
            <div class="row">
          <img class="mx-auto d-block" style="width:600px;" src="/images/errors/500 Internal Server Error-bro.svg" alt="">
        
        </div>    
             <h2 data-text="Unexpected Error">Unexpected Error</h2>
             <div class="errorContent">
          </div> 
        <br />
          <div class="">
            <a class="btn btn-primary" href="https://localhost:44348/">Return Home</a>
           
          </div>
      
          </div>
        </div>

      </div>