@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Company List</h2>
        </div>
         <div class="col-6 text-end">
             <a asp-controller="Category" asp-action="Upsert" class="btn btn-dark my-0">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>&nbsp; Add New Category
             </a>
         </div>
    </div>
    <br /><br />


<table id="tblCategoryData" class="table table-hover table-bordered table-striped" style="width:100%">
  <thead>
      <tr class="table-dark">
      <th>Name</th>
      <th></th>

    </tr>
  </thead>
  </table>
</div>


@section Scripts{
    <partial name="_Notification" />

      @*Loading all of the tables here with the data table and API calls*@
    <script src="~/js/Category.js"></script>

}