@model SmartWay.Models.Project

<form method="post" asp-action= "Details" enctype="multipart/form-data">
<input hidden asp-for="Id" />

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container ms-4">
    <ol>
        <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
        <li>Project Details</li>
    </ol>
    </div>

</section><!-- End Breadcrumbs -->

<!-- ======= Project Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
     <div class="section-title">
        <span>Project Details</span>
        <h2>Project Details</h2>
        <hr />
    </div>
    <div class="row gy-4">

        <div class="col-lg-8">
        <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

            <div class="">
                <img src="data:image/*;base64,@(Convert.ToBase64String(Model.ProjectImage))" class="img-fluid" alt="">
            </div>

            </div>
        </div>
        </div>

        <div class="col-lg-4">
        <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
            <li><strong>Project Name</strong>: @Model.Name</li>
            <li><strong>Category</strong>: @Model.Category.Name</li>
            </ul>
        </div>
        <div class="portfolio-description">
            <h2>Project Description</h2>
            <p>
                @Model.Description
            </p>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Portfolio Details Section -->

</form>